@model ShoesStore.Models.Phieumua
<link rel="stylesheet" href="~/css/tracking.css" />

<div class="order-details-container" style="margin-bottom:60px;">
    <h1 class="text-center mr-1">Order Details</h1>
    <p>Status: @Html.Partial("_OrderStatus", @Model.Tinhtrang)</p>
    <div>
        <h4>Order ID: @Model.Mapm</h4>
        <div class="d-flex justify-content-between">
            <div class="order-details-grid" style="text-align:left; margin-top: 20px;">
                <div>Date Placed:</div>
                <div>@Model.Ngaydat.ToString("dd/MM/yyyy")</div>
            </div>
            <div class="total-amount">
                Total Amount: @Model.Tongtien?.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))
            </div>
        </div>

        <div class="order-details-grid" style="text-align:left; margin-top: 20px;">
            <div>Receiver name:</div><div>@Model.Tennguoinhan</div>
            <div>Phone number:</div><div>@Model.Sdtnguoinhan</div>
            <div>Email:</div><div>@Model.Emailnguoinhan</div>
            <div>Receiver address:</div><div>@Model.Diachinguoinhan</div>
            <div>Note:</div><div>@Model.Ghichu</div>
        </div>

        <h3>Order Items</h3>
        <table class="table table-striped">
            <thead class="text-center">
                <tr>
                    <th>Product Name</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Chitietphieumuas)
                {
                    var totalPrice = item.Soluong * item.Dongia;
                    <tr class="text-center">
                        <td>@item.MaspsizeNavigation.MaspNavigation.MadongsanphamNavigation.Tendongsp</td>
                        <td>
                            <img src="~/img/@item.MaspsizeNavigation.MaspNavigation.Madongsanpham/@item.MaspsizeNavigation.MaspNavigation.Anhdaidien"
                                 style="width:100px;height:100px;border-radius:3px;" />
                        </td>
                        <td>@item.Soluong</td>
                        <td>@item.MaspsizeNavigation.MasizeNavigation.Tensize</td>
                        <td>@item.MaspsizeNavigation.MaspNavigation.MamauNavigation.Tenmau</td>
                        <td>@item.Dongia.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                        <td>@totalPrice.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .order-details-grid {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px 20px;
    }

        .order-details-grid div {
            padding: 5px 0;
        }

    .d-flex {
        display: flex;
        justify-content: space-between;
    }

    .total-amount {
        display: flex;
        align-items: center;
    }
</style>
