@model ShoesStore.Models.Phieumua
<link rel="stylesheet" href="~/css/tracking.css" />

<div class="order-details-container" >
    <h1 class="text-center">Order Details</h1> <p>Status: @Model.Tinhtrang</p>
    <div>
        <h4>Order ID: @Model.Mapm</h4>
        <div class="row">
            <div class="col-6">
                <p>Date Placed: @Model.Ngaydat.ToString("dd/MM/yyyy")</p>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <p>Total Amount: @Model.Tongtien?.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</p>
            </div>
        </div>
        <p>Receiver name: @Model.Tennguoinhan</p>
        <p>Phone number: @Model.Sdtnguoinhan</p>
        <p>Email: @Model.Emailnguoinhan</p>
        <p>Receiver address: @Model.Diachinguoinhan</p>
        <p>Note: @Model.Ghichu</p>
       
        <h3>Order Items</h3>
        <table class="table table-striped">
            <thead class="text-center">
                <tr>
                    <th>Product Name</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Chitietphieumuas)
                {
                    var totalPrice = item.Soluong * item.Dongia;
                    <tr class="text-center">
                        <td>@item.MaspsizeNavigation.MaspNavigation.MadongsanphamNavigation.Tendongsp</td>
                        <td>
                            <img src="~/img/@item.MaspsizeNavigation.MaspNavigation.Madongsanpham/@item.MaspsizeNavigation.MaspNavigation.Anhdaidien"
                                 style="width:100px;height:100px;border-radius:3px;" />
                        </td>
                        <td>@item.Soluong</td>
                        <td>@item.MaspsizeNavigation.MasizeNavigation.Tensize</td>
                        <td>@item.MaspsizeNavigation.MaspNavigation.MamauNavigation.Tenmau</td>
                        <td>@item.Dongia.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                        <td>@totalPrice.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
