@model ShoesStore.Models.Blog

<h2>Detail of Blog</h2>

<div>
    <h4>Blog ID: @Model.Mablog</h4>
    <h4>Author ID: @Model.Manv</h4>
    <h4>Avatar:</h4>
    @if (!string.IsNullOrEmpty(Model.Anhdaidien))
    {
        <img src="@Url.Content($"~/img/blog/{Model.Anhdaidien}")" style="width:100px; height:100px;" />
    }
    else
    {
        <p>No avatar available</p>
    }

    <div class="form-group">
        <label asp-for="Noidung">Content:</label>
        <div>@Html.Raw(Model.Noidung)</div>
    </div>

    <div class="form-group">
        <label asp-for="Theloai">Category:</label>
        <div>@Model.Theloai</div>
    </div>

</div>

<a asp-action="ListBlogs" class="btn btn-secondary">Back to List</a>
