@using ShoesStore.ViewModels;
@using System.Diagnostics;
@using Newtonsoft.Json;
@model ShoesStore.ViewModels.SanphamViewModel;
@{
	string json = JsonConvert.SerializeObject(Model.slton);
	string formattedString = Model.dongsanpham.Makms.ElementAt(0)?.Ngaykt.ToString("yyyy-MM-dd");


}
@section Script{

	<script>
		var num = 0;
		function updateIndex(element, index, SizeName) {
			var h5Span = document.getElementById("sizeError");
			h5Span.style.visibility = "hidden";
			//Make error size lost

			var array = @json
								var slton = document.getElementById("slton");
			if (array[index] < 10) {
				slton.style.display = "block";

			}
			else {
				slton.style.display = "none";
			}

			var elements = document.getElementsByClassName("box-kho");
			for (var i = 0; i < elements.length; ++i) {
				elements[i].classList.remove("active");
			}
			element.classList.add("active");

			var productId = @Model.sanphams.ElementAt(0).Masp;
			var addToCartUrl = '@Url.Action("AddToCart", "ShoppingCart", new { id = "__productId__", tenSize = "__sizeName__", slton = "__slton__" })';
			addToCartUrl = addToCartUrl.replace("__productId__", productId).replace("__sizeName__", SizeName).replace("__slton__", array[index]);

			document.getElementById("AddToCart").href = addToCartUrl;

		}

		function NotChooseSize(event) {
			var addToCartLink = document.getElementById("AddToCart");

			if (addToCartLink.getAttribute("href") == "#") {
				event.preventDefault(); // prevent a tag default function

				var h5Span = document.getElementById("sizeError");
				h5Span.style.visibility = "visible";
			}

		}
		var countDownDate = new Date("@formattedString").getTime();
		var x = setInterval(function () {
			var now = new Date().getTime();
			var distance = countDownDate - now;

			var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((distance % (1000 * 60)) / 1000);

			document.getElementById("days").innerText = days;
			document.getElementById("hours").innerText = hours;
			document.getElementById("minutes").innerText = minutes;
			document.getElementById("seconds").innerText = seconds;
		}, 1000);



	</script>
}

<style>
	.product-images img {
		max-width: 100px; /* Adjust this value as needed */
		max-height: 100px; /* Adjust this value as needed */
		margin-right: 10px; /* Optional: Add some spacing between images */
	}

		.product-images img:hover {
			transform: scale(1.1); /* Increase size on hover */
			cursor: pointer; /* Change cursor to pointer on hover */
		}

	.box-kho {
		border: 2px solid #ccc;
		border-radius: 5px;
		padding: 8px;
		margin-bottom: 10px;
		cursor: pointer;
		color: #111111;
		font-size: 16px;
	}

		.box-kho:hover {
			border-color: #111111;
		}

		.box-kho.active {
			border-color: #111111;
		}

	.kho-disable {
		opacity: 0.5;
		pointer-events: none;
	}


</style>
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Product Details Page</h1>
				<nav class="d-flex align-items-center">
					<a asp-action="Index" asp-controller="Home">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="#">Shopping<span class="lnr lnr-arrow-right"></span></a>
					<a href="single-product.html">Product details</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
<!--================Single Product Area =================-->
<div class="product_image_area">
	<div class="container">
		<div class="row s_product_inner">
			<div class="col-lg-6" style="display: flex; flex-direction: column;">
				<div class="s_Product_carousel" style="flex: 1;">
					<div class="single-prd-item">
						<img class="img-fluid" src="~/img/@Model.sanphams.ElementAt(0).Madongsanpham/@Model.sanphams.ElementAt(0).Anhdaidien" alt="Ảnh đại diện">
					</div>
					<div class="single-prd-item">
						<img class="img-fluid" src="~/img/@Model.sanphams.ElementAt(0).Madongsanpham/@Model.sanphams.ElementAt(0).Anhmattren" alt="Ảnh mặt trên">
					</div>
					<div class="single-prd-item">
						<img class="img-fluid" src="~/img/@Model.sanphams.ElementAt(0).Madongsanpham/@Model.sanphams.ElementAt(0).Anhdegiay" alt="Ảnh đế giày">
					</div>
					@if (!string.IsNullOrEmpty(Model.sanphams.ElementAt(0).Video))
					{
						<div class="video-wrapper">
							<video controls width="100%" height="auto">
								<source src="~/videos/@Model.sanphams.ElementAt(0).Madongsanpham/@Model.sanphams.ElementAt(0).Video" type="video/webm">
								<!-- Thêm các định dạng video khác nếu cần -->
								Your browser does not support the video tag.
							</video>
						</div>
					}
				</div>
			</div>

			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					
					<h3>@Model.dongsanpham.Tendongsp</h3>
					@if (Model.dongsanpham.Makms.ElementAt(0) != null && Model.dongsanpham.Makms.ElementAt(0).Phantramgiam != 0)
					{
						decimal? priceSale = Model.dongsanpham.Giagoc - (Model.dongsanpham.Giagoc * Model.dongsanpham.Makms.ElementAt(0).Phantramgiam / 100);
						<div class="row">
							<div class="col-7">
								<h2 style="display:inline;">@(priceSale.Value.ToString("#,##0"))₫ &nbsp;</h2>
								<h5 style="display:inline;">
									<span style="text-decoration:line-through;color:#cccccc;">@(Model.dongsanpham.Giagoc.ToString("#,##0"))₫</span> &nbsp;
								</h5>
								<h5 class="mt-1" style="color:green;">@Model.dongsanpham.Makms.ElementAt(0).Phantramgiam% off</h5>
							</div>
							<div class="col-5 d-flex justify-content-center align-items-center" style="background-color: #f26921;font-weight:bold;border-radius:2px;color:white">
								<h5 style="margin: 0;color:white">
									<span id="days">00</span> :
									<span id="hours">00</span> :
									<span id="minutes">00</span> :
									<span id="seconds">00</span>
								</h5>
							</div>
						</div>

					}
					else
					{
						<h2>@Model.dongsanpham.Giagoc.ToString("#,##0")₫</h2>
					}


					<div class="product-images row mt-3" style="margin-left:auto;margin-bottom:15px">
						@foreach (Sanpham sp in Model.sanphams)
						{
							//A choosen one always the firs one with index is 0
							<a style="margin-bottom:5px" asp-action="HienThiSanpham" asp-route-madongsanpham="@Model.dongsanpham.Madongsanpham" asp-route-masp="@sp.Masp">
								<img src="~/img/@sp.Madongsanpham/@sp.Anhdaidien" alt="@Model.dongsanpham.Tendongsp">
							</a>
						}
					</div>

					<div id="slton" style="display:none;">
						<h5 style="color: #BA861E;">
							<i class="fas fa-clock" style="color: #BA861E;"></i> Just a few left. Order soon!
						</h5>
					</div>


					<div class="row" style="margin-top: 5px;margin-bottom:5px;">
						<div class="col-12 ">
							<h5 class="text-left">Table Size</h5>
						</div>
						@for (int tkho = 0; tkho < Model.tenSize.Count(); ++tkho)
						{

							<div class="col-lg-3 col-md-4 col-sm-6 " style="max-width: 80px; max-height:50px">
								@{
									string boxClass = Model.slton[tkho] > 0 ? "box-kho" : "box-kho kho-disable disabled";
									string onClick = Model.slton[tkho] > 0 ? $"updateIndex(this,{tkho},{Model.tenSize[tkho]})" : "";
								}
								<div class="@boxClass text-center" onclick="@onClick">
									@Model.tenSize[tkho]
								</div>
							</div>


						}
						<div class="col-12 ">
							<h5 class="text-left" id="sizeError" style="color:red;visibility:hidden">Please choose size</h5>
						</div>
					</div>

					<div class="card_area d-flex align-items-center">
						<a id="AddToCart" class="primary-btn" onclick="NotChooseSize(event)" href="#">Add to Cart</a>
						<a class="icon_btn" asp-action="AddFavouriteProducts" asp-controller="FavouriteProducts" asp-route-id="@ViewBag.masp">
							<i class="lnr lnr-heart"></i>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!--================End Single Product Area =================-->

<section class="product_description_area">
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
				   aria-selected="false">Reviews</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="sizes-tab" data-toggle="tab" href="#sizes" role="tab" aria-controls="sizes" aria-selected="false">Sizes Table</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
				<p>
					@Model.dongsanpham.Mota;
				</p>
			</div>
			
	
			<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
				<div class="row">
					@await Component.InvokeAsync("ShowComment")
				</div>
			</div>
			<div class="tab-pane fade" id="sizes" role="tabpanel" aria-labelledby="sizes-tab">
				<div class="row">
					<img src="~/img/size/sizes.jpg" style="width: 50%; height: auto; display: block; margin: 0 auto;">
				</div>
			</div>
		</div>
	</div>
</section>

@await Component.InvokeAsync("HomeProductSlider2",new {trangthai =4});