@using ShoesStore.Models
@model IEnumerable<Nhanvien>

<!--Just show data of nhan vien, just show password in update because it not frequently data used-->
<a asp-action="CreateEmployee" class="btn btn-primary">Add Employee</a>
<div class="container">
    <h2 class="text-center">List of Employees</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth</th>
                <th>Gender</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Tennv</td>
                    <td>@employee.Ngaysinh</td>
                    <td>@(employee.Gioitinh ? "Nam" : "Nữ")</td>
                    <td>@employee.Sdt</td>
                    <td>@employee.Email</td>
                    <td>
                        <form asp-controller="StaffAdmin" asp-action="EditEmployee" method="get">
                            <input type="hidden" name="id" value="@employee.Manv" />
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fas fa-pen"></i>
                            </button>
                        </form>
                        <form asp-controller="StaffAdmin" asp-action="DeleteEmployee" method="post">
                            <input type="hidden" name="id" value="@employee.Manv" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
